<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="list-header">
	  HTML5 database sample
	</div>
</div>
<div class="info-text">Which data entry you want to get?</div>

<div class="palm-group">
<div class="palm-group-title" x-mojo-loc=''>Enter key string</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="entryNum" x-mojo-element="TextField" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div id="response"></div>
<br />
<div class="palm-button" id="get_button">Get Entry</div>
<div class="palm-button" id="back_button">Back to main view</div>

