<div class="palm-page-header multi-line" id="example-structure-header">    
	<div class="palm-page-header-wrapper">
		<div id="e_title" class="title left un-capitalize"></div>
		<div id="e_description" class="subtitle"></div>
	</div>  
</div>
<div id="activity-spinner" x-mojo-element="Spinner">Preparing CSS Report</div>
<div class="standard-container" id="style-item">
	
</div>

<div class="selection_target details" >
  <table class="palm-divider collapsible" id="about_section" x-mojo-tap-highlight="momentary">
    <tr>
      <td class="left"></td>
      <td class="label">
		About
      </td>
      <td class="line" width="100%"></td>
      <td><div class="palm-arrow-closed arrow_button"></div></td>
      <td class="right"></td>
    </tr>
  </table>
	<div id='aboutDrawer' class="collapsor" >
	  <div id='about_outputDisplay' class="palm-body-text">

	  </div>
	</div>
</div>

<div class="selection_target details" >
  <table class="palm-divider collapsible" id="html_section" x-mojo-tap-highlight="momentary">
    <tr>
      <td class="left"></td>
      <td class="label">
		HTML
      </td>
      <td class="line" width="100%"></td>
      <td><div class="palm-arrow-closed arrow_button"></div></td>
      <td class="right"></td>
    </tr>
  </table>
	<div id='htmlDrawer' class="collapsor" >
	  	<div id="code_scroller" x-mojo-element="Scroller">
			<pre><code><div id='html_outputDisplay' class="html-display condensed"></div></code></pre>
		</div>
	</div>
</div>

<div class="selection_target details" >
  <table class="palm-divider collapsible" id="css_section" x-mojo-tap-highlight="momentary">
    <tr>
      <td class="left"></td>
      <td class="label">
		CSS
      </td>
      <td class="line" width="100%"></td>
      <td><div class="palm-arrow-closed arrow_button"></div></td>
      <td class="right"></td>
    </tr>
  </table>
	<div id='cssDrawer' class="collapsor" >
		<div id="code_scroller_css" x-mojo-element="Scroller">
			<pre><code><div id='css_outputDisplay' class="css-display condensed"></div></code></pre>
		</div>
	</div>
</div>