

<div class="palm-dialog-buttons">
	<div id="thanksButton" class="palm-button" x-mojo-tap-highlight="immediate">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Standard
		</div>
    </div>
    <div id="cancel_button" class="palm-button primary" x-mojo-tap-highlight="immediate">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Primary
		</div>
    </div>
    <div id="cancel_button" class="palm-button secondary" x-mojo-tap-highlight="immediate">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Secondary
		</div>
    </div>
	
    <div id="cancel_button" class="palm-button negative" x-mojo-tap-highlight="immediate">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Negative
		</div>
    </div>
	
    <div id="cancel_button" class="palm-button affirmative" x-mojo-tap-highlight="immediate">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Affirmative
		</div>
    </div>
</div>
