<!-- This is div is required -->
<div id="complete_example">

</div>

<!-- Your example can go between these example tags.  If you place it here, its source will automatically be copied
to the e_html div unless you place content within that div. -->
<div id="e_example">
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="laughSelector" x-mojo-element="ListSelector"></div>                                                   
				</div>
			</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="commotionSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="testSelector" x-mojo-element="ListSelector"></div>   
				</div>
			</div>
		</div>     	
	</div>
</div>

<!-- Place information about this example here -->
<div id="e_about">

</div>

<!-- leave this blank for default html from above-->
<!-- Placing text in this div will prevent the html in the example from being copied here. -->
<div id="e_html">

</div>

<!-- List the css styles that are pertinent to the example here. -->
<div id="e_css">

</div>