<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div class="palm-list">
	<div class="palm-row first" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-available"></div>
			<div class="title truncating-text right">status-available</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-available partial"></div>
			<div class="title truncating-text right">.status-available.partial</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-away"></div>
			<div class="title truncating-text right">.status-away</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-busy"></div>
			<div class="title truncating-text right">.status-busy</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-busy partial"></div>
			<div class="title truncating-text right">.status-busy.partial</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-idle"></div>
			<div class="title truncating-text right">.status-idle</div>
		</div>
	</div>
	<div class="palm-row last" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="icon left status-offline"></div>
			<div class="title truncating-text right">.status-offline</div>
		</div>
	</div>
</div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">

</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>
	