<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div class="palm-text-wrapper">
	<div class="palm-body-text">
		Prelude Medium
	</div>
	<div class="palm-body-text">
		<i>Prelude Medium Italic</i>
	</div>
	<div class="palm-body-text oblique">
		Prelude Medium Oblique
	</div>
	<div class="palm-body-text condensed">
		Prelude Medium Condensed
	</div>
	<div class="palm-body-text">
		<strong>Prelude Bold</strong>
	</div>
</div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">

</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>
	