<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example">
<div class="palm-button" id="dashboard-message" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Send Notification</span></div>
<div class="palm-button" id="dashboard-custom-message" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Send Custom Notification</span></div>
</div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
<div class="dashboard-notification-module">
	<div class="palm-dashboard-icon-container">
		<div class="dashboard-newitem">
			<span>6</span>
		</div>
		 <div id="dashboard-icon" class="palm-dashboard-icon">
		 </div>
	</div>   
	<div class="palm-dashboard-text-container">
		 <div class="dashboard-title">
			Title goes here
		 </div>
		<div id='dashboard-text' class="palm-dashboard-text">#{text}</div>
	</div>
</div>
</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>
	