<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div id="innerList" x-mojo-element="List"></div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
When dragging, "palm-delete-element" is added 
to your row, resulting in something like:

<div class="palm-row palm-delete-element">
	<div class="palm-row-wrapper">
		<div class="title truncating-text">
			Cheese Name
		</div>
	</div>
</div></div>

<!-- list developer-facing css pertinent to this example, between these tags -->
<div id="e_css">
.palm-row.palm-delete-element {
	-webkit-border-image: url(../images/my-row-deleting.png) 24 20 24 20 repeat repeat;
}
</div>