<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div class="palm-list">
	<div class="palm-row first" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				Sift
			</div>
			<div class="title truncating-text">
				2 cups of flour
			</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				Simmer
			</div>
			<div class="title truncating-text">
				3 cups of milk
			</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				Melt
			</div>
			<div class="title truncating-text">
				1 stick of butter
			</div>
		</div>
	</div>
	<div class="palm-row first" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label left">
				Red value
			</div>
			<div class="title right truncating-text">
				0 1 1 0 1 1 0 1
			</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label left">
				Green value
			</div>
			<div class="title right truncating-text">
				1 0 0 0 1 0 1 0
			</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label left">
				Blue value
			</div>
			<div class="title right truncating-text">
				1 1 0 1 0 1 1 1
			</div>
		</div>
	</div>
	<div class="palm-row my-custom-style" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				Obama
			</div>
			<div class="title">
			    1600 Pennsylvania Ave., NW<br />Washington, DC 20500
			</div>
		</div>
	</div>
	<div class="palm-row my-custom-style" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				Palm
			</div>
			<div class="title">
				950 West Maude<br />Sunnyvale, California 94085
			</div>
		</div>
	</div>
	<div class="palm-row my-custom-style last" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="label">
				CIA
			</div>
			<div class="title">
				Office of Public Affairs<br />Washington, D.C. 20505
			</div>
		</div>
	</div>
</div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
	
</div>

<!-- list developer-facing css pertinent to this example, between these tags -->
<div id="e_css">

</div>