<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div class="palm-group">
<div class="palm-group-title">touch feedback for lists</div>
	<div class="palm-list">  
		<div class='palm-row single my-touch' x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="palm-body-text">
					<img src="images/my-selection-gradient-single.png" align="right">
					when touched, rows using '<nobr>x-mojo-tap-highlight</nobr>' will display a selection graphic implemented using <nobr>-webkit-border-image</nobr> with a 9-tile image (minimum 41 x 49 px)
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">three types of feedback</div>
	<div class="palm-list">  
		<div class='palm-row single' x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="palm-button secondary" x-mojo-tap-highlight="momentary">
					<div class="palm-button-wrapper">momentary</div>
				</div>

				<div class="palm-button secondary" x-mojo-tap-highlight="immediate">
					<div class="palm-button-wrapper">immediate</div>
				</div>

				<div class="palm-button secondary" x-mojo-tap-highlight="persistent">
					<div class="palm-button-wrapper">persistent</div>
				</div>
			</div>
		</div>
	</div>
</div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	for items within scrollable content, use "momentary" feedback. For fixed elements which don't scroll, "immediate" feedback is an option. Use "persistent" only if you require exacting control of when feedback is removed (which must be done manually.)
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
	
</div>

<!-- list developer-facing css pertinent to this example, between these tags -->
<div id="e_css">
.selected.my-touch {
	-webkit-border-image: url(../images/my-selection-gradient-single.png) 24 20 24 20 !important;
}
</div>