<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example"><div class="palm-text-wrapper">
	<div class="palm-body-title" x-mojo-loc=''>
		Example Marketing Copy <nobr>(palm-body-title)</nobr>
	</div>

	<div class="palm-body-text" x-mojo-loc=''>
		The new Palm Pre phone is always thinking ahead to make your life easier. Pre pulls your different online calendars into one view, bringing you the information you want without having to search for it. <nobr>(palm-body-text)</nobr>
	</div>
	<div class="palm-body-text" x-mojo-loc=''>
		Pre links your contacts from different sources, giving you one place to find what you need. And Pre delivers incoming messages and notifications in an intuitively subtle way, letting you react or respond however you want. People, events, information that matters. With Palm Pre, it’ll come to you. <nobr>(palm-body-text)</nobr>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		Obscure option
	</div>
	<div class="palm-list">  
		<div class='palm-row single'>
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="sample-checkbox-1"></div>
				<div class="title">Auto Lorem Ipsum</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-info-text" x-mojo-loc=''>
	This feature will automatically complete your correspondence using Lorem Ipsum. <nobr>(palm-info-text)</nobr>
</div></div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about"></div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html"></div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css"></div>
	